.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 25%;
}
li {
  display: flex;
  flex-direction: row;
  width: 100%;
}

li div {
  line-height: 1.4em;
  padding: 4px 8px;
}

.roster {
  display: flex;
  flex-direction: row;
}


body {
  background: #cfcfcf;
  font-size: .85em;
}

h2, h3, h4 {
  color: #fcfcfc;
  text-align: center;
}

h2 {
  flex: 1 1 100%;
  background-color: #000;
  margin: 0;
  padding: 12px;
}

.team {
  margin: 0 0 16px 0;
}
.team h2 {
  background-color: rgba(70, 108, 170);
  padding: 8px;
  border-top: 2px #000 solid;
}

.flex_wrap {
  flex-wrap: wrap;
}

.roster h4 {
  flex: 1 0 100%;
  margin: 0;
  padding: 0px 0 0 0;
  background-color: #333;
  border-top: 2px #000 solid;
}

.nav-teams {
  width: 100%;
  display: flex;
  background-color: #333;
}
.nav-teams .team_link {
  flex: 0 0 33.33%;
  text-decoration: none;
  padding: 6px 0;
  line-height: 1.4em;
  text-shadow: 1px 1px #030303;
  color: rgba(172,210, 255);
  font-weight: bold;
  text-align: center;
}

ul {
  border-width: 0;
}
ul:first-child {
  border-color: #000;
  border-width: 0;
  border-style: solid;
}
ul:nth-child(n+2) {
  border-color: #000;
  border-left-width: 4px;
  border-style: solid;
}

/* .roster {
  background-color: #aaa;
} */

.roster li {
  background-color: #a3a3a3;
}

.roster ul li:nth-child(2) div {
  font-weight: bolder !important;
  background-color: #333;
  text-shadow: 1px 1px #333;
  color: #fcfcfc;
}

li div.player-name {
  flex: 1 1 58%;
  width: 58%;
  white-space: pre;
  overflow: hidden;
  color: #000;
}
li div.player-adp {
  text-shadow: 1px 1px #333;
  color: #fcfcfc;
}
li div.player-value {
  text-shadow: 1px 1px #333;
  color: #fcfcfc;
}
li div.player-stat-column {
  flex: 1 1 14%;
  width: 14%;
  text-align: right;
}
li div.player-name,
li div.player-value {
  font-weight: bold;
}

.player-name__short {
  display: none;
}
.player-name__full {
  display: inline;
}

/* li.STARTER .player-name {
  background-color: rgba(4, 170, 109);
} */
li.TAXI .player-name {
  background-color: rgb(179, 143, 0);
}
li.BENCH .player-name {
  /* background-color: #aaa; */
}
li.IR .player-name {
  background-color: #999;
}

/* Value - Colors */
li div.player-value_high {
  background-color: rgba(3, 106, 68);
}
li div.player-value_medium {
  background-color: rgba(3, 106, 68, .5);
}
li div.player-value_low {
  background-color: rgb(170, 4, 65, .7);
}
.designation {
  margin-left: 2px;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0;
}
.designation-injury__pup {
  color: #AA0441;
}

@media (max-width: 768px) {
  body {
    font-size: .75em;
  }
}
@media (max-width: 1024px) {

  ul:nth-child(2n) {
    border-left-width: 1px;
    border-right-width: 0;
  }
  ul:nth-child(2n+1) {
    border-left-width: 0;
    /* border-right-width: 1px; */
  }

  .roster {
    flex-wrap: wrap;
  }

  ul {
    flex: 0 0 50%;
  }

  li div {
    line-height: 1.4em;
    padding: 2px 2px;
  }

  li div.player-name,
  li div.player-value {
    font-weight: normal;
  }
  .player-name__short {
    display: inline;
  }
  .player-name__full {
    display: none;
  }

}

.Footer {
  height: 48px;
  margin: 24px 0;
}

#player-iframe-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}
#player-iframe-close {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  color: rgba(172,210, 255);
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  margin: 0;
}
iframe {
  height: 100%;
  width: 100%;
}
.hidden {
  visibility: hidden;
}
